
.NavigationBar .navbar {
  background-color: black;
  padding: 15px 0px;
  /* text-align: right; */
}

.NavigationBar .navbarMenu1 {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}
.NavigationBar .navbarMenu2 {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}
.NavigationBar .navbarMenu3 {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}
.NavigationBar .navbarMenu4 {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}
.NavigationBar .navLogo {
  color: white;
  margin: 8px;
  margin-left: 30px;
  margin-right: 1100px;
  text-decoration: none;
  
}

.Main{
  height: 600px;
  background-color: aqua;
}

.Main .intro_text{

  position: absolute;
     top:40%;
     left:23%;
     transform: translate(-50%, -50%);                                                                   
     font-size:15px;
     color: white;
     z-index: 2;
     text-align: left;
}

.MiddleBar ul{
  position: relative;
  top: -66px;
  display: flex;
  width: 1280px;
  background: white;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.MiddleBar ul li{
  list-style: none;
  flex: 1;
  height: 132px;

}

.MiddleBar ul li div {
  text-align: center;
  height: 20px;
  margin-top: 30px;

}

.MiddleBar ul li:not(:last-child) div {
  border-right: 1px solid #e1e1e1;
}
